.chatRoom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.chatHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  border-bottom: 1px solid #fafafa33;
  padding: 30px 40px;
}
.chatHeader img {
  width: 40px;
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.rightHeader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.rightHeader h3 {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
}
.rightHeader p {
  color: #fafafab8;
  font-size: 14px;
  font-weight: 500;
}
.chatMsgs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding-inline: 40px;
}
.sentMsg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  align-self: flex-end;
}
.sentMsg > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  background-color: #ffffff1a;
  border-radius: 8px;
}
.sentMsg p {
  color: var(--primary-color);
}
.sentMsg span {
  color: #fafafab8;
  font-size: 14px;
  align-self: flex-end;
}
.recievedMsg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  align-self: flex-start;
}
.recievedMsg > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  background: var(--primary-bg);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 8px;
}
.recievedMsg p {
  color: var(--primary-color);
}
.recievedMsg span {
  color: #fafafab8;
  font-size: 14px;
  align-self: flex-end;
}
